@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@import './normalize.css';
@import './global.css';

body {
  font-family: 'TikTok Sans', sans-serif;
}
